---
import '../styles/global.css';
import Footer from '@myrepo/components/Footer.astro';
import Header from '@myrepo/components/Header.astro';
---

<body>
  <Header />
  <ul>
    <li data-testid="post"><a href="/posts/post-1/">Post 1</a></li>
    <li data-testid="post"><a href="/posts/post-2/">Post 2</a></li>
    <li data-testid="post"><a href="/posts/post-3/">Post 3</a></li>
  </ul>
  <Footer />
</body>
